/* PAGE-WIDE VARIABLES */
:root {
  /* Fonts */
  --font-default: 'Open Sans';
  --font-headers: 'Open Sans', Helvetica, sans-serif;
  --font-contents: Georgia;
  --font-infobox: Helvetica, sans-serif;

  /* Main Colors */
  --clr-brand-fire-light: #f9b841;
  --clr-brand-fire-dark: darkgoldenrod;
  --clr-brand-fire-darker: #89640a;
  --clr-brand-water: #ddeefd;
  --clr-body-backg: whitesmoke;
  --clr-infobox-backg: #ffff0033;
  --clr-infobox-border: #dd6;

  /* Element Colors*/
  --clr-brand-circle-stroke: #333;
  --clr-brand-circle-backg: var(--clr-brand-fire-light);
  --clr-ariana: #333;
  --clr-ariana-backg: var(--clr-brand-water);
  --clr-h-rule-ariana: var(--clr-ariana);
  --clr-subhead: #6f6f6f;
  --clr-temp-element-light: #ffedb7;
  --clr-temp-element-lighter: #fafafa;

  /* Sizes */
  --size-brand-circle-radius: 2rem;
  --size-brand-circle-stroke: 1.5px;
  --size-h-rule-ariana: 1px;
  --size-h-rule-footer: 0.5px;

  /* Layouts */
  --padding-page-content: 1.3rem;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  border-spacing: 0;
  outline: 0;
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[type='image'],
[type='checkbox'],
[type='radio'],
summary {
  cursor: pointer;
}

/* PAGE-WIDE RULESETS */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: var(--font-default), sans-serif;
  font-size: 20px;
  color: #444;
  background-color: var(--clr-body-backg);
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}

[lang|='en'] {
  font-style: italic;
}

.clr-brand-fire-darker {
  color: var(--clr-brand-fire-darker);
}

/* MAIN HEADER & NAVBAR */
.top-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  font-family: var(--font-headers);
}

.navbar {
  width: 100%;
  font-size: 1.1rem;
  background-color: var(--clr-body-backg);
}

.navbar__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 1.3rem;
  padding-block: 1.3rem;
  list-style: none;
  gap: 1rem;
}

.navbar__list a {
  display: flex;
  align-items: center;
}

.navbar__list a[aria-current='page'] {
  font-weight: bold;
  color: var(--clr-brand-fire-darker);
}

/* LOGO NAVIGATION */
.brand {
  flex: 1;
}

.brand__logo {
  height: 50px;
}

.brand a {
  gap: 0.5rem;
}

/* NAVIGATION TO THE TOP */
.nav-to-top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: flex;
  border: 2px solid beige;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: orange;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-to-top svg {
  height: 1.5rem;
  fill: beige;
}

/* ARIANA THREAD */
.ariana {
  font-size: small;
  color: var(--clr-ariana);
  flex-grow: 1;
  padding-block: 0;
  background-color: var(--clr-ariana-backg);
  border-color: var(--clr-h-rule-ariana);
  border-style: solid;
  border-top-width: var(--size-h-rule-ariana);
  border-bottom-width: var(--size-h-rule-ariana);
}

.ariana a {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  padding-bottom: 0.2rem;
  text-underline-offset: 0.2rem;
}

.ariana__item {
  font-weight: bold;
  padding-block: 0.5rem;
  padding-inline: 1.3rem;
}

.main {
  font-family: var(--font-contents), serif;
  text-align: justify;
  color: #444;
  min-height: 50vh;
  background-color: var(--clr-body-backg);
}

/* HERO SECTION */
.hero {
  display: flex;
  padding-block: 1.5rem;
  background-image: url('../img/hero.webp');
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.hero__title h1 {
  font-size: 2.2rem;
  text-align: center;
}

.hero__title h2 {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  color: #777;
}

.hero__card-container {
  display: flex;
  width: 500vw;
  transition: transform 0.5s ease-in-out;
  align-self: flex-start;
  align-items: flex-start;
}

.hero__card {
  width: 100%;
  font-size: 1.2em;
  padding-inline: 4rem;
  padding-block: 1rem;
}

.hero__card__wrapper {
  padding: 1rem;
  max-width: 50rem;
  margin-inline: auto;
}

.hero__card h3 {
  font-family: var(--font-headers);
  font-weight: bold;
  margin-block: 1.4rem;
}

.slider-control {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slider-control__item {
  border: 1px solide black;
  width: 3rem;
  height: 0.5rem;
  background-color: beige;
}

.slider-control__item__active {
  background-color: red;
}

/* CALL TO ACTION  */
.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: block;
  margin: 0.4rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: orange;
}

/* INFOBOX */
.infobox {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid var(--clr-infobox-border);
  font-family: var(--font-infobox), Helvetica, sans-serif;
  line-height: 1.5;
  text-align: left;
  background-color: var(--clr-infobox-backg);
  border-radius: 0.5rem;
}

.infobox__time {
  display: inline-block;
  font-size: medium;
  text-align: left;
  opacity: 0.6;
  padding-block-end: 0.5rem;
}

.infobox__content {
  font-size: medium;
  text-align: left;
}

/* MAIN SECTIONS */
.section {
  max-width: 40rem;
  margin-inline: auto;
  margin-block: 1rem;
  padding-inline: var(--padding-page-content);
}

.section__title {
  margin-block: 0.5rem;
}
.section__title::after {
  content: '#';
  visibility: hidden;
}
.section__title:hover > a {
  text-decoration: underline;
}
.section__title:hover::after {
  visibility: visible;
  text-decoration: double;
}

p.section__content {
  line-height: 1.5;
  padding-block-end: 1.5rem;
}
p.section__content {
  height: 30vh;
  background-color: var(--clr-temp-element);
  background-image: linear-gradient(
    45deg,
    var(--clr-temp-element-light),
    var(--clr-temp-element-lighter),
    var(--clr-temp-element-light)
  );
  border-radius: 0.4rem;
}

/* FOOTER */
.footer {
  font-size: medium;
  text-align: center;
  color: #3f3f3f;
  border-top: 0.5px solid black;
  padding-block: 1rem;
  padding-inline: var(--padding-page-content);
}

.footer__year {
  display: none;
}

.footer__year::before {
  font-weight: bold;
  color: var(--clr-brand-fire-darker);
  content: '•';
  padding-inline: 0.4rem;
}
