* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  border-spacing: 0;
  outline: 0;
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[type='image'],
[type='checkbox'],
[type='radio'],
summary {
  cursor: pointer;
}

html {
  /* Main Colors */
  --clr-brand-fire-light: #f9b841;
  --clr-brand-fire-dark: darkgoldenrod;
  --clr-brand-fire-darker: #89640a;
  --clr-brand-water: #ddeefd;
  --clr-body-backg: whitesmoke;

  /* Element Colors*/
  --clr-brand-circle-stroke: #333;
  --clr-brand-circle-backg: var(--clr-brand-fire-light);
  --clr-ariana: #333;
  --clr-ariana-backg: var(--clr-brand-water);
  --clr-h-rule-ariana: var(--clr-ariana);
  --clr-subhead: #6f6f6f;

  /* Sizes */
  --size-brand-circle-radius: 2rem;
  --size-brand-circle-stroke: 1.5px;
  --size-h-rule-ariana: 1px;
  --size-h-rule-footer: 0.5px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #222;
  background-color: var(--clr-body-backg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--clr-body-backg);
}

nav > * {
  padding-block: 1.3rem;
}

.logo-circle {
  width: var(--size-brand-circle-radius);
  height: var(--size-brand-circle-radius);
  border-style: solid;
  border-width: var(--size-brand-circle-stroke);
  border-color: var(--clr-brand-circle-stroke);
  background-color: var(--clr-brand-fire-light);
  border-radius: 100%;
}

.brand > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.ariana-container {
  font-size: small;
  font-weight: bold;
  color: var(--clr-ariana);
  background-color: var(--clr-ariana-backg);
  padding-inline: 1.3rem;
  padding-block: 0.5rem;
  border-color: var(--clr-h-rule-ariana);
  border-style: solid;
  border-top-width: var(--size-h-rule-ariana);
  border-bottom-width: var(--size-h-rule-ariana);
}

ul.navigation {
  display: flex;
  padding-inline: 1.3rem;
  list-style: none;
}

main {
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  color: #444;
  min-height: 50vh;
  background-color: var(--clr-body-backg);
  max-width: 40rem;
  margin-block: 2rem;
  margin-top: 6.5rem;
  margin-inline: auto;
}

main > header {
  padding: 2rem;
}

h1 {
  text-align: center;
}

h2 {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  color: #777;
}

.subhead-emphasis {
  font-family: serif;
  font-size: 1.6rem;
  font-style: italic;
}

.construction {
  font-family: Avenir, sans-serif;
  font-size: medium;
  text-align: center;
}

.padding-main {
  padding-inline: 1.3rem;
}

.clr-brand-fire-dark {
  color: var(--clr-brand-fire-dark);
}

.clr-brand-fire-darker {
  color: var(--clr-brand-fire-darker);
}

footer {
  font-size: medium;
  text-align: center;
  color: #3f3f3f;
  border-top: 0.5px solid black;
  padding-block: 1rem;
}

.footer-sep {
  padding-inline: 0.4rem;
}
